{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}My Blog{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>

    <div class="container">
        <header class="header">
            <h1><a href="{% url 'home' %}" style="color: #333;">Django Comments App</a></h1>
            {% comment %}
            <div>
                {% if user.is_authenticated %}
                    <span>Hello, {{ user.username }}</span>
                    <a href="{% url 'logout' %}" style="margin-left: 15px;">Logout</a>
                {% else %}
                    <a href="{% url 'login' %}">Login</a>
                {% endif %}
            </div>
             {% endcomment %}
        </header>

        <main>
            {% block content %}
            {% endblock %}
        </main>
    </div>

</body>
</html>